//styles import

@import "reset";
@import "variables";
@import "general";

//blocks
@import "blocks/header";
@import "blocks/contactform";


body {
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
}

.main-page-intro {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  gap: 50px;
  margin-bottom: 95px;

  &__text-holder,
  &__video-holder {
    width: calc(50% - 30px);
  }

  &__video-holder iframe {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16/9;
  }
}

.main-page-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;


  &__content-holder {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  &__title-style {
    margin-bottom: 70px;
  }
}

.products-item {
  width: 285px;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 10px;
  background-color: $header-background;
  border: $section-border-style;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 25px;

  &__picture {
    width: 245px;
    height: 245px;
    border-radius: 12px;
  }

  &__text-holder {
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  &__icon-follow {
    width: 35px;
    height: 10px;
  }

  @keyframes icon-shaking {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }
  }


  &__link-follow {
    @include regular-text-font-style;
    font-size: 14px;
    font-weight: 700;
    color: #55b7FF;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      letter-spacing: 0.20em;
    }

    &:hover .products-item__icon-follow {
      animation: icon-shaking 0.3s infinite ease-out;
    }

  }

}