.main_content-wrapper {
    width: 750px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color: #d6daff;
    border: 1px solid #1f013b;
    border-radius: 15px;
    padding: 50px 0 0 0;
}