.main_content-wrapper {
    width: 950px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d6daff;
    border: 1px solid #1f013b;
    border-radius: 15px;
}