* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.App {
    text-align: center;
}

.App-header,
.App-main {
    width: 100%;
    max-width: 1440px;
    display: flex;
    color: white;

    padding: 10px;
}

.App-header {
    height: 150px;
    flex-direction: row;
    align-items: center;
    background-color: #a6a6a6;
    margin-bottom: 10px;
    border: 1px solid blue;
    border-radius: 10px;

}

.App-main {
    flex-direction: row;
    align-items: flex-start;
}


/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/
